doctype html
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(http-equiv="X-UA-Compatible", content="IE=edge")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        title 411730467_許芸禎的期末作業
        link(rel="stylesheet", href="index.css")
    body 
        .box
            .box1 
                h4 淡江大學教育科技學系TKUET
            .box2 
                h4 系所簡介
            .box3
                h4 系友代表
            .box4 
                h4 系所成員
            .box5
                h4 課程介紹
            .box6 
                h4 招生訊息
        .person
            .eyes 
                .Leye
                .Reye 
            .a 
                .r 
                .y
            .nose 
            .mouth
        .person1
            .eyes 
                .Leye
                .Reye
            .a 
                .r 
                .y
            .nose 
            .mouth
        .person2
            .eyes 
                .Leye
                .Reye
            .a 
                .r 
                .y
            .nose 
            .mouth

        .youtubeDisplay
            iframe(width="800" height="400" src="https://www.youtube.com/embed/1N43zsqqJuU?si=Xsz_hBXw3GnySMeC" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" referrerpolicy="strict-origin-when-cross-origin" allowfullscreen)
        .imageDisplay 
            img(class="img1" src="1.png" width="180" height="180" alt="Grapefruit slice atop a pile of other slices")
        .h5pDisplay 
            iframe(src="https://h5p.org/h5p/embed/27611" width="1090" height="675" frameborder="0" allowfullscreen="allowfullscreen" allow="geolocation *; microphone *; camera *; midi *; encrypted-media *" title="Animal sound game")
            script(src="https://h5p.org/sites/all/modules/h5p/library/js/h5p-resizer.js" charset="UTF-8")  